@model SeaOfShops.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
}

<form method="post" asp-action="Edit" asp-controller="Users" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.ImageName != "niko.jpg")
    {
        <input type="hidden" asp-for="ImageName" value="@(Model.ImageName)" />
    }
    else
    {
        <input type="hidden" asp-for="ImageName" value="none_avatar" />
    }
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RealName" class="control-label">Имя</label>
        <input type="text" asp-for="RealName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Фамилия</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label><br />
        <input type="file" asp-for="ImageFile" accept="image/*"/>
        <span asp-validation-for="ImageFile"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>