@{
    ViewData["Title"] = "Home Page";
}


<div class="position-relative overflow-hidden p-3 p-md-3 m-md-0 text-center">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-5 font-weight-normal">Welcome to Sea Shops!</h1>
        <p class="lead font-weight-normal text-uppercase">Sea Of Shops is a popular place to order the most useful things 
            that you will regret buying for a long time to come.</p>
        <p class="lead font-weight-normal">
            We are trusted by a huge number of users,
        </p>
        <p class="lead font-weight-normal">
            Total number of users 
        </p>
        <p class="lead font-weight-normal">
            @(ViewBag.CountUsers)
        </p>
        <div class="text-center">
            @if (this.User.Identity.IsAuthenticated == false)
            {
                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-secondary">Join us</a>
            }
        </div>
      </div>
</div>