<a class="nav-link" asp-controller="Cart" asp-action="Index">
                            00,0 руб <i class="fa-solid fa-cart-shopping" style="color: gray"></i>
                            (0)
                        </a>